html {
    font-family: Calibri, Arial, Helvetica, Geneva, sans-serif;
    font-weight: 300;
    text-align: left;
    background-color: #eeeeee;
    width: 100%;
}

body {
	padding: 15px;
	}

h1 {
	font-weight: 300;
	font-size: 20pt;

}
h2 {
	font-weight: 300;
	font-size: 18pt;

}

/* {background-color:#f7ed5d;}*/

.person 
	{
	
	font-weight: bold;
	/*
	color:#01a859;
	background-color:#f7ed5d;*/
}

.sem_role {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.sem_role .popuptext {
    /*visibility: hidden;*/
    display: none;
    opacity: 0.75;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.sem_role .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) 
.sem_role .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}
*/

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}


.link {
  stroke: #aaa;
}

.node text {
stroke:#333;
cursos:pointer;
}

.node circle{
stroke:#fff;
stroke-width:3px;
fill:#555;
}


*/


/*
.tooltip.tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; 
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
*/